<div class="container" id="bw_points">
    <div class="row text-center mb-3 mt-3">
        <div class="col-md-6">
            <h1>Blue Points</h1> 
            
            <p><%= @blue_points %> </p>
        </div>

        <div class="col-md-6">
            <h1>White Points</h1> 
            
            <p><%= @white_points %> </p>
        </div> 
    </div>
    <div class="row justify-content-md-center text-center mb-3">
        <div class="col">
        <% if @active_user != nil and @active_user.is_admin %>
        <a href="/new_event" class="btn btn-primary mx-auto" role="button">Add New Event</a>    
        <% end %>
        </div>
    </div>
    <div class="row">
        <% @events.order(:event_date).reverse.each do |event| %> 
            <div class="col-md-4 col-lg-3 mb-3">
                <div class="card border-primary">
                    <div class="card-header" id="event-header"> <%=event.name %> 
                    </div>
                    <div class="card-body" id="event-body">
                        <center><i><%= Division.find(event.division_id).name %></i></center>
                        
                        Date: <%= event.event_date.strftime("%m/%d/%Y") %>
                        <br>
                        Blue Points: <%= event.blue_points %>
                        <br>
                        White Points: <%= event.white_points %>
                        <br>
                        <% if @active_user != nil and @active_user.is_admin %>
                            <a href="/edit_event?id=<%= event.id%>" class="btn btn-primary card-link" role="button">Edit</a>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

</div>
