<div class="container">
	<div class="row" >
		<div id="carouselExampleIndicators" class="carousel slide">
			<div class="carousel-indicators <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>">
				<button type="button" title="Blue Monday" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" title="Blue Tuesday" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" title="Blue Wednesday" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
				<button type="button" title="Blue Thursday" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
				<button type="button" title="Blue Friday" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
				<button type="button" title="White Monday" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
				<button type="button" title="White Tuesday" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
				<button type="button" title="White Wednesday" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
				<button type="button" title="White Thursday" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
				<button type="button" title="White Friday" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
			</div>
			<div class="carousel-inner">
				<%@all_days.each do |schedule|%>
					<div class="carousel-item <% if schedule['day']== 1 %> active <%end%>">
						<table class="table align-middle table-hover table-bordered border-primary <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>">
							<thead>
								<tr>
									<th scope="col">Time</th>
									<th scope="col">Day <%=schedule["day"]%> - <%=schedule["week_color"].titleize%> <%=schedule["day_of_week"].titleize%></th>
								</tr>
							</thead>
							<tbody> 
								<%schedule["blocks"].each do |block| %> 
									<tr>
										<td>
											<%=block.start.strftime("%I:%M%p")%> - 
											<%time = block.start + block.duration*60%> 
											<%=time.strftime("%I:%M%p")%> 
										</td>
										<td><%=block.description%></td>
									</tr>
								<% end %>
							</tbody>
						</table>
						<br>
					</div>
				<%end%>
			</div>
			<button class="carousel-control-prev sched" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next sched" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>		
	<% if @active_user.is_admin == true  %>
		<div class="row" >
			<div class="col-md-2 mb-3" >
				<button class="btn btn-primary form-control" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Edit</button>
			</div>
			<div class="col-md-2 mb-3">
				<a href="/edit_schedule">
					<button class="btn btn-primary form-control" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Upload</button>
				</a>
			</div>
		</div>
	<% end %>
	<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalToggleLabel">Edit Schedule</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form action="/load_day" method="post">
						<div class="container">
							<select class="form-select form-select-lg mb-3" aria-label="Large select example" name="dayofweek" required>
								<option selected value="">Day</option>
								<option value="monday">Monday</option>
								<option value="tuesday">Tuesday</option>
								<option value="wednesday">Wednesday</option>
								<option value="thursday">Thursday</option>
								<option value="friday">Friday</option>
							</select>
							<select class="form-select form-select-lg mb-3" aria-label="Large select example" name="weekcolor" required>
								<option selected value="">Week</option>
								<option value="blue">Blue</option>
								<option value="white">White</option>
							</select>

							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
