<div class="container">
    <h1>Edit User <%= @use.firstname + " " + @use.lastname %></h1>
    <form action="/manage/update_user?id=<%= @use.id %>" method="post" enctype="application/x-www-form-urlencoded">
        <div class="mb-3 row">
            <div class="col-md-6">
				<div class="input-group mb-3">
					<span class="input-group-text <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" id="fname">First name</span>
					<input type="text" class="form-control <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" value="<%=@use.firstname%>"
						   aria-label="fname" aria-describedby="fname" id="fname" name="fname" placeholder="e.g. Holly"> 
				</div>
            </div>
            <div class="col-md-6">
				<div class="input-group">
					<span class="input-group-text <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" id="lname">Last name</span>
					<input type="text" class="form-control <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" placeholder="e.g. Holton"
						   aria-label="lname" aria-describedby="lname" id="lname" name="lname" value="<%= @use.lastname %>"> 
				</div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-md-6">
				<label for="team" class="col-form-label">Team: </label>
                <select class="form-select" aria-label="team-color" name="team" required>
                    <option value="white" <%= @use.team_id == BwTeam.find_by(team_color: 'white').id ? 'selected' : '' %>> White</option>
                    <option value="blue" <%= @use.team_id == BwTeam.find_by(team_color: 'blue').id ? 'selected' : '' %>>Blue</option>
                </select>
            </div>
			<% stu =  Student.find_by(user_id: @use.id)%>
			<% if stu != nil %>
				<div class="col-md-6">
					<label for="year" class="col-form-label">Year: </label>
					<select id="year" class="form-select" aria-label="Default select example" name="gradeyear" required>
						<option disabled value">Year</option>
						<% curr_month = Date.today.month %>
						<% if curr_month >= 1 and curr_month <= 6 %>
							<% senior_year = Date.today.year %>
						<% else %>
							<% senior_year = Date.today.year + 1%>						
						<% end %>
						<% for i in 1..4 %>
							<% if senior_year == stu.class_of %>
								<option selected value="<%=senior_year %>"><%= senior_year %></option>
							<% else %>
								<option value="<%=senior_year %>"><%= senior_year %></option>
							<% end %>
							<% senior_year += 1 %>
						<% end %>
					</select>
				</div>
			<% else %>
				<% fac = Facultystaff.find_by(user_id: @use.id) %>
				<div class="col-md-6">
					<label for="grade" class="col-form-label">Grade: </label>
					<select id="grade" class="form-select" aria-label="Default select example" name="gradeyear" required>
						<option disabled value">Grade</option>

						<% for i in 9..12 %>
							<option <% if i == fac.grade %>selected<% end %> value="<%= i %>"><%= i %></option>
						<% end %>
					</select>
				</div>
			<% end %>
        </div>
		<div class="row mb-3">
			<div class="col-md-4" >
				<% if @use.id == @active_user.id %>
					<input type="checkbox" class="form-check-input" id="admincheck" name="is_admin" <% if @use.is_admin %>checked<% end %> disabled>
					<input type="hidden" id="admincheck" name="is_admin" value=<% if @use.is_admin %>true<% else %>false<% end %>>
				<% else %>
					<input type="checkbox" class="form-check-input" id="admincheck" name="is_admin" <% if @use.is_admin %>checked<% end %>>
				<% end %>
				<label class="form-check-label" for="admincheck">Admin?</label>
			</div>
		</div>
        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-primary mb-3 me-3">Submit</button>
            <a href="/manage/manage_users" class="btn btn-secondary mb-3">Cancel</a>
        </div>
    </form>
    
</div>
