<div class="container">
    <h1>Edit User <%= @use.firstname + " " + @use.lastname %></h1>

    <form action="/manage/update_user?id=<%= @use.id %>" method="post" enctype="application/x-www-form-urlencoded">
        <div class="mb-3 row">
            <div class="col-md-2">
                <label for="blue_pts" class="form-label">Name</label>
            </div>
            <div class="col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" id="fname">First name</span>
                <input type="text" class="form-control <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" value="<%=@use.firstname%>"
                       aria-label="fname" aria-describedby="fname" id="fname" name="fname" placeholder="e.g. Holly"> 
            </div>
            </div>
            <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" id="lname">Last name</span>
                <input type="text" class="form-control <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" placeholder="e.g. Holton"
                       aria-label="lname" aria-describedby="lname" id="lname" name="lname" value="<%= @use.lastname %>"> 
            </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-md-2">
            <label for="team" class="col-form-label">Team: </label>
            </div>
            <div class="col-md-4">
                <select class="form-select" aria-label="team-color" name="team" required>
                    <option value="white" <%= @use.team_id == BwTeam.find_by(team_color: 'white').id ? 'selected' : '' %>> White</option>
                    <option value="blue" <%= @use.team_id == BwTeam.find_by(team_color: 'blue').id ? 'selected' : '' %>>Blue</option>
                </select>
            </div>
			<div class="col-md-4" >
				<% if @use.id == @active_user.id %>
					<input type="checkbox" class="form-check-input" id="admincheck" name="is_admin" <% if @use.is_admin %>checked<% end %> disabled>
					<input type="hidden" id="admincheck" name="is_admin" value=<% if @use.is_admin %>true<% else %>false<% end %>>
				<% else %>
					<input type="checkbox" class="form-check-input" id="admincheck" name="is_admin" <% if @use.is_admin %>checked<% end %>>
				<% end %>
				<label class="form-check-label" for="admincheck">Admin?</label>
			</div>
        </div>
        <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary mb-3 me-3">Submit</button>
                <a href="/manage/manage_users" class="btn btn-secondary mb-3">Cancel</a>
        </div>
    </form>
    
</div>
