
<div class='container'>
  <form method='post' action='/post_message?author=<%=@active_user.id%>' enctype="application/x-www-form-urlencoded">
    <div class='row mb-3 align-items-end'>
      <div class="col-md-8">
          <label for="subject" class="form-label">Subject</label>
          <input type="text" class="form-control <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" id="subject" name="subject" required placeholder="Subject..."></input>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Select
        </button>
        <div class="dropdown-menu">
          <% @groups.each do |group| %>
            <div class="form-check mb-2">
              <input class="form-check-input me-1" type="checkbox" value="<%=group.recipient_tag%>" id="<%=group.recipient_tag%>" name="tag[]">
              <label class="form-check-label" for="<%=group.recipient_tag%>"><%=group.recipient_tag.titleize%></label>
            </div>
          <% end %>
        </div>
      </div>
    </div> 
    <div class='row mb-3'>
      <div class="col">
      <label for="content" class="form-label">Message</label>
      <textarea type="text" placeholder="Your message..." class="form-control <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" id="content" name="content" rows="3" required></textarea>
    
      </div>
    </div>
    <div class='row mb-3'>
      <div class="col-auto">
      <button type='submit' class='btn btn-primary'>Send</button>
      </div>
    </div>
  </form>
</div>
 
