<div class="container">
    <div class="row mb-3 align-items-end">
        <div class="col-auto">
        <a href="/all_sports" class="btn btn-outline-secondary" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
        </svg></a>
        </div>
        <div class="col">
        <h1> <%= @current_group.name.titleize %></h1> 
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-md-8">
        <img src="<%= '/sports/' + @current_group.name.gsub(' ', '_') + '.jpg' %>" alt="<%=@current_group.name.titleize%> photo" 
        class="sportPhoto mx-auto d-block image-fluid"
        onerror="this.onerror=null;this.src='/sports/placeholder.jpg';">
        <div class="d-grid justify-content-center">
        <a href="/all_sports/<%=@current_group.name.gsub(" ", "_")%>/add_image" class="btn btn-primary m-3 d-block">Replace Image</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto text-center">
        <h1>Record</h1> <br>
        <p><%= @wins %> - <%= @losses %> </p>
        </div>
    </div>
    <div class="row mb-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#resultsid">Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#rosterid">Roster</a>
            </li>
        </ul>
        <div class="tab-content">
           
            <div id="rosterid" class="tab-pane" role="tab"> 
                <%if @leader %>
                <a href="/all_sports/<%=@current_group.name.gsub(" ", "_")%>/add_member" class="btn btn-primary mt-3 mb-3 me-3">Add Player</a> 
                <a href="/all_sports/<%=@current_group.name.gsub(" ", "_")%>/add_coach" class="btn btn-primary mt-3 mb-3">Add Coach</a>
                <% end %>
                <table class="table table-primary table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Coaches</th>
                        </tr>
                    </thead>
                        <tbody class="table-group-divider">
                            <% @coaches.each do |coach| %>
                                <%  %> 
                            <tr>
                                <td><%=coach.firstname + " " + stu.lastname%></td>
                            </tr>
                            <% end %>
                        </tbody>
                </table>
                <table class="table table-primary table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Players</th>
                            <th scope="col">Year</th>
                        </tr>
                    </thead>
                        <tbody class="table-group-divider">
                            <% @roster.each do |stu| %>
                                <%  %> 
                            <tr>
                                <td><%=stu.firstname + " " + stu.lastname%></td>
                                <td><%=Student.find_by(user_id:stu.id).grade %> </td>
                            </tr>
                            <% end %>
                        </tbody>
                </table>
            </div>
            <div id="resultsid" class="tab-pane active" role="tab">
                <%if @leader %><a href="/all_sports/<%=@current_group.name.gsub(" ", "_")%>/add_game" class="btn btn-primary mt-3 mb-3">Add Game</a> <%end%>
                <table class="table table-primary table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Advantage</th>
                        <th scope="col">Score</th>
                        <th scope="col">Result</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                    <tbody class="table-group-divider">
                    <% @record.each do |game| %>
                        <tr <% if not game.status %> class="strike" <% end %>>
                            <td><% if not game.status %> (<em>CANCELED</em>) <%end%><%= game.name %> (<a href="/all_sports/<%= @current_group.name.gsub(" ", "_")%>/edit?id=<%= game.id.to_s %>">edit</a>)</td>
                            <td><%= game.date.strftime("%m/%d/%Y") %></td>
                            <td><%= game.date.strftime("%I:%M %p") %></td>
                            <td><%= (not game.advantage.nil?) ? (game.advantage ? 'Home' : 'Away') : '' %></td>
                            <td><%= game.home_score.to_s + " - " + game.away_score.to_s%> </td>
                            <td><%= game.result %></td>
                            <td><%= game.details %></td>
                            
                        </tr>
                    <%end %>
                    </tbody>
                    
                </table>
            </div>
            
        </div>
    </div>
</div>

