<div class="container-fluid">
	<!-- retire grade modal -->
	<div class="modal fade" id="retireGrade" tabindex="-1" aria-labelledby="retireGradeLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="retireGradeLabel">Select Class Year</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Select graduating class year to deactivate all student accounts in that grade.</p>
					<form class="container" action="/graduate" method="post" enctype="application/x-www-form-urlencoded">
						<div class="row mb-3">
							<div class="col">
							<select class="form-select" aria-label="classYear" name="classYear" required>
								<% @grades = Student.select(:class_of).distinct.sort() %>
								<% @grades.each do |gr| %>
								<option value="<%= gr.class_of%>" <%= gr.class_of == Student.minimum('class_of') ? 'selected' : '' %>> <%= gr.class_of %></option>
								<% end %>
							</select>
							</div>
						</div>
						<div class="row">
							<div class="col-auto">
							<button type="submit" class="btn btn-outline-danger"  onclick="return confirm('Are you sure you want to deactivate all accounts?');">Deactivate</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end retire grade modal -->
	<div class="row justify-content-center text-center" >
		<div class="col-lg-6 mb-3">
			<div class="btn-group btn-group-lg" role="group" aria-lable="User Management">
				<a class="btn btn-primary" href="/manage/add_users">Batch Create Users</a>
				<a class="btn btn-primary" href="/manage/create_user">Create New User</a>
			</div> <br>
			<button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#retireGrade">
				Deactivate Graduating Grade</button>
		</div>
	</div>
	<div class="row justify-content-center text-center" >
		<div class="col">
			<h5><em>* = Admin Account</em></h5>
		</div>
	</div>
	<div class="row justify-content-center" >
		<div class="col-lg-6">
			<div class="accordion" id="usersAccordion">
				<% @all_by_groups.each do |group, users| %>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= group %>" aria-expanded="false" aria-controls="flush-collapse<%= group %>">
								<% if group.is_a? Integer %>
									<h6>Class of <%= group %> <%="(#{users.length} Users)" %></h6>
								<% elsif group == :facstaff %>
									<h6>Faculty & Staff <%="(#{users.length} Users)" %></h6>
								<% end %>
							</button>
						</h2>
						<div id="flush-collapse<%= group %>" class="accordion-collapse collapse">
							<ul class="list-group" >
								<% users.each do |user| %>
									<li class="list-group-item">
										<div class="row">
											<div class="col" >
												<%= "#{user.firstname.titleize} #{user.lastname.titleize}" %>
												<% if user.is_admin %>
													*
												<% end %>
											</div>
										
											<% if user.email == @active_user.email %>
												<div class="col col-md-auto ms-auto text-end">
													<a href="/manage/edit_user?id=<%=user.id%>" class="btn btn-primary" role="button">Edit</a>
												</div>
												<div class="col col-md-auto ms-auto text-end">
													<button class="btn btn-secondary" type="submit" disabled> Deactivate User </button>
												</div>
											<% elsif user.active %>
												<div class="col col-md-auto ms-auto text-end">
													<a href="/manage/edit_user?id=<%=user.id%>" class="btn btn-primary" role="button">Edit</a>
												</div>
												<div class="col col-md-auto ms-auto text-end">
													<form method="post" action=<%="/activation?fname=#{user.firstname}&lname=#{user.lastname}&act=false"%>>
														<button class="btn btn-danger" type="submit"
																	   onclick="return confirm('Are you sure you want to deactivate this user?');"> Deactivate User </button>
													</form>
												</div>
											<% else %>
												<div class="col col-md-auto ms-auto text-end">
												<form method="post" action=<%="/activation?fname=#{user.firstname}&lname=#{user.lastname}&act=true"%>>
													<button class="btn btn-primary" type="submit"> Activate User </button>
												</form>
												</div>
											<% end %>											
										</div>
									</li>
								<% end %>
							</ul>						
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
