<div class="container">
  <div class="col-md-12">
    <a href="/manage/manage_groups" class="btn btn-outline-secondary" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
    </svg></a>
  </div>
  <h1>Add Clubs or Athletic Teams</h1>
  <p>This is the basic information for a club or athletic team. Members will be added later.<p>

		<form action="/create_group" method="post" enctype="multipart/form-data">

			<select class="form-select <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" aria-label="Default select example" onfocusout="ifSport()" id="typeSelection" name="typeSelection" required>
				<option selected disabled value>What type of group is this</option>
				<option value="club">Club</option>
				<option value="sport">Sport</option>
			</select> 
			<br>
			<select class="form-select <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" aria-label="Default select example" id="groupTypeDropdown" name="groupTypeDropdown" required>
				<option selected disabled value>What level of group is this</option>
				<% @group_types.each do |type| %>
					<option value=<%= type.id %> > <%= type.name.capitalize! %> </option>
				<% end %>
			</select> 

			<br>

			<select class="form-select <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" aria-label="Default select example" id="sportsSeason" name="sportsSeason">
				<option selected disabled value>What season is this sport in</option>
				<% @sports_seasons.each do |season| %>
					<option value=<%= season.id %>><%= season.name %></option>
				<% end %>
			</select> 

			<br>
			<input class="form-control <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" type="text" placeholder="Name of group" aria-label="default input example" id="groupName" name="groupName" required>
			<br>

			<div class="mb-3">
				<textarea class="form-control <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" id="groupDescription" name="groupDescription" rows="3" placeholder="Description of group" required></textarea>
			</div>

			<br>

			<h3>Enter the group leaders below (sports captains, club presidents, etc...)</h3>
			<p>Scroll for full grade list</p>

    <div class="row">
      <div class="col-lg-4">
          <h4>Grade 10:</h4>
          <input class="form-control search-field <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" type="text" id="sophomore_input" onkeyup="myFunction('sophomore_table', 'sophomore_input')" placeholder="Search for names...">
        <table id="sophomore_table" class="class_table">
          <% @sophomores.each do |sophomore| %>
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value=<%= sophomore.id %> id=<%= sophomore.id %> name="student_leader[]">
                  <label class="form-check-label" for=<%= sophomore.id %>><%= sophomore.firstname + " " + sophomore.lastname %></label>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
          
      <div class="col-lg-4">
          <h4>Grade 11:</h4>
          <input class="form-control search-field <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" type="text" id="junior_input" onkeyup="myFunction('junior_table', 'junior_input')" placeholder="Search for names...">
        <table id="junior_table" class="class_table">
          <% @juniors.each do |junior| %>
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value=<%= junior.id %> id=<%= junior.id %> name="student_leader[]">
                  <label class="form-check-label" for=<%= junior.id %>><%= junior.firstname + " " + junior.lastname %></label>
                </div>
              </td>
            </tr>
          <% end %>
        </table>

      </div>
            
      <div class="col-lg-4">    
          <h4>Grade 12:</h4>
          <input class="form-control search-field <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" type="text" id="senior_input" onkeyup="myFunction('senior_table', 'senior_input')" placeholder="Search for names...">
        <table id="senior_table" class="class_table">
          <% @seniors.each do |senior| %>
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value=<%= senior.id %> id=<%= senior.id %> name="student_leader[]">
                  <label class="form-check-label" for=<%= senior.id %>><%= senior.firstname + " " + senior.lastname %></label>
                </div>
              </td>
            </tr>
          <% end %>
        </table>

				</div>
			</div>
			<br>
			<input type="submit" value="Submit" class="btn btn-primary">
		</form>
		
</div>

<script>
 function myFunction(tableName, tableId) {
	 var input, filter, table, tr, td, i, txtValue;
	 input = document.getElementById(tableId);
	 filter = input.value.toUpperCase();
	 table = document.getElementById(tableName);
	 tr = table.getElementsByTagName("tr");

	 for (i = 0; i < tr.length; i++) {
		 td = tr[i].getElementsByTagName("td")[0];
		 if (td) {
			 txtValue = td.textContent || td.innerText;
			 if (txtValue.toUpperCase().indexOf(filter) > -1) {
				 tr[i].style.display = "";
			 } else {
				 tr[i].style.display = "none";
			 }
		 }
	 }
 }

 function ifSport() {
	 var x = document.getElementById("typeSelection");
	 var val = x.value;
	 if (val === "sport") {
		 sportsSeason.style.display = "block";
	 } else{
		 sportsSeason.style.display = "none";
	 }
 }


</script>

