<div class="container">
	<div class="col-md-12">
		<a href="/all_clubs/<%= @current_group.name.downcase.gsub(" ", "_")%>" class="btn btn-outline-secondary" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
		</svg></a>
	</div>
	<div class="row" >
		<h2>Students</h2>
	</div>
	<form action="/adding_members/<%= @current_group.name.gsub!(" ", "_") %>" method="post">
	<div class="row">
		<div class="col-lg-3">
			<h4>Grade 9:</h4>
			<input type="text" id="freshmen_input" onkeyup="myFunction('freshmen_table', 'freshmen_input')" placeholder="Search for names...">
			<table id="freshmen_table">
				<% if @freshmen %>
				<% @freshmen.each do |st| %>
					<tr>
              			<td>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="<%= st.lastname%>, <%= st.firstname%>" id="<%= st.lastname + st.firstname%>" name="user[]"
								<% if GroupLeader.find_by(student_id: st.id, group_id: @current_group.id) != nil%> checked <%end%>>
									<label class="form-check-label" for="<%= st.lastname + st.firstname%>">
										<%= st.lastname%>, <%= st.firstname%>
									</label>
								</input>
							</div>
						</td>
					</tr>
				<% end %>
				<% end %>
			</table>
		</div>


		<div class="col-lg-3">
			<h4>Grade 10:</h4>
			<input type="text" id="sophomore_input" onkeyup="myFunction('sophomore_table', 'sophomore_input')" placeholder="Search for names...">
			<table id="sophomore_table">
				<% if @sophomores %>
				<% @sophomores.each do |st| %>
					<tr>
              			<td>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="<%= st.lastname%>, <%= st.firstname%>" id="<%= st.lastname + st.firstname%>" name="user[]"
								<% if GroupMember.find_by(student_id: st.id, group_id: @current_group.id) != nil%> checked <%end%>
								<% if GroupLeader.find_by(student_id: st.id, group_id: @current_group.id) != nil%> checked <%end%>>
									<label class="form-check-label" for="<%= st.lastname + st.firstname%>">
										<%= st.lastname%>, <%= st.firstname%>
									</label>
								</input>
							</div>
						</td>
					</tr>
				<% end %>
				<% end %>
			</table>
		</div>

		<div class="col-lg-3">
			<h4>Grade 11:</h4>
			<input type="text" id="junior_input" onkeyup="myFunction('junior_table', 'junior_input')" placeholder="Search for names...">
			<table id="junior_table">
				<% if @juniors %>
				<% @juniors.each do |st| %>
					<tr>
              			<td>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="<%= st.lastname%>, <%= st.firstname%>" id="<%= st.lastname + st.firstname%>" name="user[]"
								<% if GroupMember.find_by(student_id: st.id, group_id: @current_group.id) != nil%> checked <%end%>
								<% if GroupLeader.find_by(student_id: st.id, group_id: @current_group.id) != nil%> checked <%end%>>
									<label class="form-check-label" for="<%= st.lastname + st.firstname%>">
										<%= st.lastname%>, <%= st.firstname%>
									</label>
								</input>
							</div>
						</td>
            		</tr>
				<% end %>
				<% end %>
			</table>
		</div>

		<div class="col-lg-3">
			<h4>Grade 12:</h4>
			<input type="text" id="senior_input" onkeyup="myFunction('senior_table', 'senior_input')" placeholder="Search for names...">
			<table id="senior_table">
				<% @seniors.each do |st| %>
					<tr>
              			<td>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="<%= st.lastname%>, <%= st.firstname%>" id="<%= st.lastname + st.firstname%>" name="user[]"
								<% if GroupMember.find_by(student_id: st.id, group_id: @current_group.id) != nil%> checked <%end%>
								<% if GroupLeader.find_by(student_id: st.id, group_id: @current_group.id) != nil%> checked <%end%>>
									<label class="form-check-label" for="<%= st.lastname + st.firstname%>">
										<%= st.lastname%>, <%= st.firstname%>
									</label>
								</input>
							</div>
						</td>
            		</tr>
				<% end %>
			</table>
		</div>
		
	</div>
	<button type="submit" class="btn btn-primary">Add to Club</button>
	</form>
</div>



<script>
function myFunction(tableName, tableId) {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById(tableId);
  filter = input.value.toUpperCase();
  table = document.getElementById(tableName);
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>