<div class="container">
<a href="/all_clubs" class="btn btn-outline-secondary" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
</svg></a>
    <div class="row justify-content-center" >
        <div class="col-lg-6">
            <form action="/adding_members/<%= @current_group.name.gsub!(" ", "_") %>" method="post">
                <div class="accordion" id="usersAccordion">
                    <% @all_students.each do |group, users| %>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= group %>" aria-expanded="false" aria-controls="flush-collapse<%= group %>">
                                    <h6>Grade <%= group %> <%="(#{users.length} Users)" %></h6>
                                </button>
                            </h2>
                            <div id="flush-collapse<%= group %>" class="accordion-collapse collapse">
                                <ul class="list-group" >
                                    <% users.each do |user| %>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col" >
                                                <label class="form-check-label" for="flexCheckDefault">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="<%= user.lastname%>, <%= user.firstname%>" id="<%= user.id%>" name="user[]"
															<% if GroupMember.find_by(student_id: Student.find_by(user_id: user.id).id, group_id: @current_group.id) != nil or GroupLeader.find_by(student_id: Student.find_by(user_id: user.id).id, group_id: @current_group.id) != nil%> checked <%end%>>
                                                            <label class="form-check-label" for="<%= user.id %>">
                                                                <%= user.lastname%>, <%= user.firstname%>
                                                            </label>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                    <% end %>
                                </ul>						
                            </div>
                        </div>
                    <% end %>
                </div>
                <button type="submit" class="btn btn-primary">Add to Club/Team</button>
            </form>
        </div>
    </div>
</div>
