<div class="container">
    <div class="col-md-12">
        <a href="/all_clubs/<%= @groupedit.name.downcase.gsub(" ", "_")%>" class="btn btn-outline-secondary" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
        </svg></a>
    </div>
    <div class="row">
        <h1>Edit Your Club Page:</h1> 
    </div>

    <div class="row mb-3">
        <h2>
        <%= @groupedit.name.titleize %>
        </h2>
    </div>
    <form action="<%= @updatepath%>" method="Post" enctype="multipart/form-data">
    <div class="row mb-3">
        <div class="col">
            <p>Please do not upload .heic files. Press preview to view image order and upload multiple images. </p>

            <label for="imageFile">Upload an image: </label> <br>
            <input type="file" id="imageFile" name="imageFile" accept="image/*"> 
            <br>
            
        </div>
    </div>
    
    <div class="row mb-3">
        <% if not @images.empty?%>
        <% @images.each do |n, img| %>
        <div class="col col-auto text-end">
            <div class="d-block position-relative">
            <img src="<%= img %>" alt="club picture" class="groupimage" id="groupimage">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-secondary">
            <button type="submit" class="btn btn-close" name="commit" value="<%= "delete" + n.to_s%>"></button>
            </span>
            </div>
        </div>
        <% end %>
        <% end %>
    </div>
    <div class="row mb-3">
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary" name="commit" value="preview">Preview</button>
        </div>
    </div>
    <div class="row mb-3"> <!-- need to go through and figure out how to do nested-ish forms -->
    
        <div class="col">
            <h6>Club Description:</h2>
            <textarea class="form-control" id="description" name="description" rows="3"><%=@groupedit.description%>
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" name="commit" value="submit">Submit</button>
        </div>
    </form>
    </div>
</div>
    
